{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explore Earth</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    <header>
        <div class="header-icon">
            <img src="{% static 'assets/earth.png' %}" alt="the earth">
        </div>
        <div class="header-h">
            <h1>
                <span class="header-text-discover">
                    Discover Earth
                </span>
                <span class="header-text-beauty">
                    beauty life style culture
                </span>
            </h1>
            <div class="div-button">
                <a class="header-button" href="#anchor">Discover</a>
            </div>
            
        </div>
    </header>
        
    
</body>
</html>